#headLogo,
.modal-body {
    margin: 0 auto;
    font-weight: bold;
    -webkit-animation: colorchange 15s infinite alternate;
}

.close {
    color: #FFF;
    opacity: 1;
}

@-webkit-keyframes colorchange {
    0% {

        color: #FF5733;
    }

    10% {

        color: #FFBD33;
    }

    20% {

        color: #DBFF33;
    }

    30% {

        color: #75FF33;
    }

    40% {

        color: #33FF57;
    }

    50% {

        color: #33FFBD;
    }

    60% {

        color: #008080;
    }

    70% {

        color: #00FFFF;
    }

    80% {

        color: #FF00FF;
    }

    90% {

        color: #00FF00;
    }

    100% {

        color: #FFFF00;
    }
}