.container {
    grid-column-start: 4;
}

body {
    background-image: url("../images/background.jpg");
    color: rgba(245, 95, 0, 0.9);
}

header {
    font-family: 'Monoton', cursive;
    font-size: 100px;
}

#startGame {
    font-family: 'Courgette', cursive;
    position: relative;
    color: rgba(245, 95, 0, 0.9);
    background: transparent;
    outline: none;
    font-size: 30px;
}

.choice {
    font-family: 'Audiowide', cursive;
    color: white;
    outline: none;
    font-size: 25px;
    font-weight: bold;
}

#questions {
    font-family: 'Audiowide', cursive;
    color: white;
    outline: none;
    font-size: 30px;
}

.score {
    font-family: 'Boogaloo', cursive;
    color: rgba(255, 209, 57, 0.747);
    outline: none;
    font-size: 27px;
    padding-left: 20%;
}

.over {
    font-family: 'Boogaloo', cursive;
    color: rgba(245, 95, 0, 0.9);
    background: transparent;
    outline: none;
    border: 5px;
    font-size: 80px;
    padding-left: 14%;
    margin-top: -20px;
}

.reset {
    font-family: 'Courgette', cursive;
    color: rgba(255, 153, 0, 0.747);
    background: transparent;
    outline: none;
    border: 5px;
    font-size: 40px;
    padding-left: 10%;
}

button:hover {
    color: rgb(239, 255, 13);
}

button:focus {
    outline: 0;
}

#btn_playPause {
    background: url(http://i.stack.imgur.com/ENFH5.png) no-repeat;
    border: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    outline: none;
}